<section class="enter">
  <article class="enter-button">
    <% if current_user %>
      <p><%= link_to "Upload a picture to frame", pictures_path %></p>
      <% else %>
      <p><%= button_to "Upload a picture to frame", create_guest_path, method: :post %></p>
    <% end %>
  </article>
</section>

