
    <a href="#" class="tab-link">Arrangements</a>
    <div class="tab-content is-open">
      <div class="cards">
        <% current_user.arrangements.each do |arrangement| %>
          <div class="card" data-id="<%= arrangement.id %>">
            <div class="card-image">
              <img src="<%= arrangement.url %>" alt="">
            </div>
            <div class="card-stats">
              <ul data-id="<%= arrangement.id %>">
                <li><span class="delete-arrangement"><em>&#10008;</em> </span></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
