<h4 class="hang-it-instructions">Drag your art on top of the wall until you like the arrangement. Click save.</h4>
<div id="container"></div>
<script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.2.min.js"></script>

<%= render "wall_slider" %>


<%= render "saved_arrangements" %>


<script>
  angular.module('wallSlider', [])
    .controller('WallController', ['$scope', '$http', function ($scope, $http) {
      $scope.walls = [];
      $http.get('/hang_it.json').success(function (data) {
        $scope.walls = data;
      });

      $scope.wallIndex = 0;

      $scope.currentWall = "";

      $scope.currentWall = function () {
        if ($scope.walls.length > 0) {
          return $scope.walls[$scope.wallIndex].image.url;
        }
        ;
      };

      $scope.currentWallHeight = function () {
        if ($scope.walls.length > 0) {
          return $scope.walls[$scope.wallIndex].height;
        }
        ;
      };

      $scope.nextWall = function () {
        if ($scope.wallIndex + 1 >= $scope.walls.length) {
          $scope.wallIndex = 0;
        } else {
          $scope.wallIndex += 1;
        }
      };

      $scope.previousWall = function () {
        if ($scope.wallIndex - 1 < 0) {
          $scope.wallIndex = $scope.walls.length - 1;
        } else {
          $scope.wallIndex -= 1;
        }
      };
    }]);

  $('#background-wall').load(function () {
    hangIt();
  })
</script>