<div ng-app="wallSlider">
  <div ng-controller="WallController">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>

    <section id="room">

        <img id="hang-picture" src='<%= @picture.image.url %>' width="100">

      <canvas style="background-image: url('{{currentWall()}}'); background-repeat: no-repeat; background-size: 400px;" id="canvas" width="400" height="400"></canvas>
    </section>

    <button ng-click="previousWall()">&larr;</button>
    <button ng-click="nextWall()">&rarr;</button>

  </div>
</div>

<script> hangIt() </script>

<script>
  angular.module('wallSlider', [])
    .controller('WallController', ['$scope', '$http', function ($scope, $http) {
      $scope.walls = [];
      $http.get('/hang_it.json').success(function (data) {
        $scope.walls = data;
      });

      $scope.wallIndex = 0;

      $scope.currentWall = "";

      $scope.currentWall = function () {
        return $scope.walls[$scope.wallIndex].image.url;
      };

      $scope.nextWall = function () {
        if ($scope.wallIndex + 1 >= $scope.walls.length) {
          $scope.wallIndex = 0;
        } else {
          $scope.wallIndex += 1;
        }
      };

      $scope.previousWall = function () {
        if ($scope.wallIndex - 1 < 0) {
          $scope.wallIndex = $scope.walls.length - 1;
        } else {
          $scope.wallIndex -= 1;
        }
      };
    }]);
</script>