<h4 class="hang-it-instructions">Drag your art on top of the wall until you like the arrangement. Click save.</h4>
<div id="container"></div>
<script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.2.min.js"></script>


<div ng-app="wallSlider" class="wallSlider">
  <div ng-controller="WallController">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>

    <div class="hang-picture-container">
      <img id="hang-picture" src='<%= @picture.image.url %>'  crossorigin="anonymous">
      <p class="picture-height"><%=@picture.height%></p>
      <p class="picture-width"><%=@picture.width%></p>

      <img id="background-wall" ng-src="{{currentWall()}}" crossorigin="anonymous">
      <p class="wall-height">{{currentWallHeight()}}</p>
    </div>

    <button ng-click="previousWall()">&larr;</button>
    <button ng-click="nextWall()">&rarr;</button>
    <button id="save-wall">Save</button>
  </div>
</div>
<br>
<br>
<hr>



<div>
  <h1 class="title-tag">Your Saved Arrangements</h1>
  <% @arrangements.each do |arrangement| %>
    <img src="<%=arrangement.url%>">
  <% end %>
</div>


<script>
  angular.module('wallSlider', [])
    .controller('WallController', ['$scope', '$http', function ($scope, $http) {
      $scope.walls = [];
      $http.get('/hang_it.json').success(function (data) {
        $scope.walls = data;
      });

      $scope.wallIndex = 0;

      $scope.currentWall = "";

      $scope.currentWall = function () {
        if ($scope.walls.length > 0) {
          return $scope.walls[$scope.wallIndex].image.url;
        };
      };

      $scope.currentWallHeight = function () {
        if ($scope.walls.length > 0) {
          return $scope.walls[$scope.wallIndex].height;
        };
      };

      $scope.nextWall = function () {
        if ($scope.wallIndex + 1 >= $scope.walls.length) {
          $scope.wallIndex = 0;
        } else {
          $scope.wallIndex += 1;
        }
      };

      $scope.previousWall = function () {
        if ($scope.wallIndex - 1 < 0) {
          $scope.wallIndex = $scope.walls.length - 1;
        } else {
          $scope.wallIndex -= 1;
        }
      };
    }]);

  $('#background-wall').load( function() {
    hangIt();
  })
</script>