<section id="room">
<canvas style="background-image: url('<%=@picture.image.url %>');" id="canvas" width="400" height="400" ></canvas>
<img id="canvasImg" alt="Right click to save me!">

<img id ="hang-picture" src = '<%=@picture.image.url %>' width="100">

<!--<img id="wall" src = 'https://okl1-scene7.insnw.net/is/image/OKL/SalesEvent_41649_Logo_1?$story-hero$' width="400" >-->
</section>

<script> hangIt() </script>