<h1>hello world</h1>

<% unless current_user %>
  <p><%= button_to "Try it for free!", create_guest_path, method: :post %></p>
<% end %>

<%= form_for @picture do |f| %>
  <%= f.file_field :image %>
  <%= f.submit "Upload a picture to frame" %>
<% end %>

<div class="container">
  <img src="">

</div>