<container ng-app="frameApp">
  <div ng-controller="FrameController">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>

    <section class="work-table">
      <article class="image-on-table">
        <%= image_tag @picture.image.url %>
      </article>
    </section>

    <canvas id = "frame-it-canvas" width="200" height="200"></canvas>

    <%= image_tag "", {class: "frame", "ng-src" => "{{currentImage()}}"} %>

    <button ng-click="previousFrame()">&larr;</button>
    <button ng-click="nextFrame()">&rarr;</button>

  </div>
</container>

<script>

  angular.module('frameApp', [])
    .controller('FrameController', ['$scope', '$http', function ($scope, $http) {
      $scope.frames = [];
      $http.get('/frames.json').success(function (data) {
        $scope.frames = data;

      });

      $scope.frameIndex = 0;

      $scope.currentImage = function () {
        if ($scope.frames.length > 0) {
          return $scope.frames[$scope.frameIndex].image.url;
        }
      };

      $scope.nextFrame = function () {
        if ($scope.frameIndex == $scope.frames.length) {
          $scope.frameIndex = 0;
        }
        if ($scope.frameIndex < $scope.frames.length) {
          $scope.frameIndex += 1;
        }
      };

      $scope.previousFrame = function () {
        if ($scope.frameIndex - 1 < 0) {
          $scope.frameIndex = $scope.frames.length;
        } else {
          $scope.frameIndex -= 1;
        }
      };

    }]);
</script>




