
<div class="work_table">
  <%= image_tag @picture.image.url %>
</div>

<div id="slider">
  <ul class="slides">
    <li class="slide"><%= image_tag @picture.image.url %></li>
    <li class="slide"><%= image_tag @picture.image.url %></li>
  </ul>
</div>




