
<section class="work-table">
  <article class="image-on-table">
  <%= image_tag @picture.image.url %>
  </article>
</section>

<div id="slider">
  <ul class="slides">
    <li class="slide"><%= image_tag @picture.image.url %></li>
    <li class="slide"><%= image_tag @picture.image.url %></li>
  </ul>
</div>




