#container {
  margin: auto;
  text-align: center;
  padding-top: 5%;
}

.wallSlider {
  text-align: center;
}

#save-wall {
  color: black;
}

.hang-it-instructions {
  text-align: center;
  background-color: pink;
  color: black;
}