.hr-line {
  @include media(min-width 500px) {
    padding-top: 500px;
  }

  @include media(max-width 200px) {
    padding-top: 0px;
  }
}

.signed-out-homepage-link {
  position: absolute;
  width: 350px;
  top: 235px;
  margin: auto;
  right: 50px;
  left: 50px;
  font-size: 1.5em;
  padding-top: 60px;
  padding-bottom: 60px;
  white-space: normal;
}

.vector-frame {
  @include media(min-width 760px) {

    position: absolute;
    top: 100px;
    margin: auto;
    right: 50px;
    left: 50px;
  }
  @include media(max-width 200px) {
  }
}

.homepage-link {
  @include media(min-width 760px) {
    position: absolute;
    width: 350px;
    top: 235px;
    margin: auto;
    right: 50px;
    left: 50px;
    font-size: 1.5em;
    padding-top: 70px;
    padding-bottom: 70px;
    white-space: normal;
  }

  @include media(max-width 200px) {
    position: absolute;
    width: 50px;
    top: 0px;
    margin: auto;
    right: 50px;
    left: 50px;
    font-size: 1.5em;
  }

  a {
    color: black;
  }


  border-radius: .7em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.0;
  padding: .75em 1em;
  text-decoration: none;

  a:hover {
    background-color: #714164;
    color: white;
  }
}

.three-columns {
  @include span-columns(12);

  .three-column-one {
    @include media(min-width 769px) {
      @include span-columns(4 of 12);
      width: 28%;
      margin-right: 8%;
      .card-on-homepage {
        @include span-columns(12 of 12);
      }
    }
    @include media(max-width 200px) {
      @include span-columns(6 of 12);
    }
  }
  .three-column-two {
    @include media(min-width 769px) {
      @include span-columns(4 of 12);
      width: 28%;
      margin-right: 8%;
      .card-on-homepage {
        @include span-columns(12 of 12);
      }
    }
    @include media(max-width 200px) {
      @include span-columns(6 of 12);
    }
  }
  .three-column-three {
    @include media(min-width 769px) {
      @include span-columns(4 of 12);
      width: 28%;
      margin-right: 8%;
      .card-on-homepage {
        @include span-columns(12 of 12);
      }
    }
    @include media(max-width 200px) {
      @include span-columns(6 of 12);
    }
  }
}