@import 'reset';
@import "bourbon";
@import 'base/grid-settings';
@import 'neat';
@import "base/base";
@import "navbar";
@import "accordian";
@import "picture_form";
@import "cards";
@import "home_index";
@import "work_table";
@import "sign_in";
@import "sign_up";
@import "alert";
@import "welcome_picture";

.frame {
  margin-top: 100px;
}
.wrapper {
  margin-right: 200px;
  margin-left: 200px;
}

.navigation {
 opacity: .85;
}

#picture-canvas {
  background-color: black;
  position: absolute;
  align-items: center;
  display: flex;
  overflow: hidden;
}

#picture {
  margin: auto;
}

#top-piece {
  z-index: 1;
  width: 200px;
  height: 20px;
  position:absolute;
  top: 0px;
  right: 0px;
}

#right-piece {
  width: 200px;
  height: 20px;
  margin-top: 0px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  right: -47px;
  bottom: 50px;
}

#left-piece {
  z-index: 0;
  width: 200px;
  height: 20px;
  margin-top: 0px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  left: -47px;
  bottom: 50px;
}

#bottom-piece {
  z-index: 1;
  width: 200px;
  height: 20px;
  margin-top: 0px;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#hang-picture {
  visibility: hidden;
}

img.frame {
  position: absolute;
  top: 130px;
  left: 399px;
}

div.container {
  @include outer-container;
}

#scalloped-edge {
  width: 100%;
  overflow: hidden;
}

.scalloped-edge {
  width: 100%;


}

body {

  background-image: url("paper-translucent.png");
  color: #a25d8f;
}

input[type="submit"] {
  background-color: #a25d8f;
}

.nav-link {
  color: #a25d8f;
}

#slider {
  width: 720px;
  height: 480px;
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 728px;
  height: 400px;
}

body {
  color: #dc7700;
}

.sign-in-form {
  @include span-columns(3);
  color: #a25d8f;

}

.sign-up-form {
  @include span-columns(3);
  color: #a25d8f;
}










