@import 'reset';
@import "bourbon";
@import 'base/grid-settings';
@import 'neat';
@import "base/base";
@import "navbar";
@import "accordian";
@import "picture_form";
@import "cards";
@import "home_index";
@import "work_table";
@import "sign_in";
@import "sign_up";
@import "alert";
@import "wrapper";
@import "frame_table";
@import "hang_it";


body {
  font-family: Courier,monospace;
  background-color: whitesmoke;
}

h1, h2, h3, h4, h5, p, label, input {
  font-family: Courier,monospace;
  color: black;
}

button, input[type="submit"] {
  white-space: normal;
  color: black;
}

header.navigation ul li.nav-link.signed-in-link a{
  color: pink;
}

input[type="submit"] {
  color: black;
}

.logo {
  color: pink;
  padding-top: 30px;
}

header.navigation .navigation-menu-button {
  font-family: Courier,monospace;
}

.title-tag {
  text-align: center;
  padding: 50px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}


.nothing-created_message {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #a25d8f;
}

header.navigation .nav {
  float: right;
}

.picture-description {
  color: #333333;
}

.frame-button {
  margin: auto;
  width: 100%;
  text-align: center;
}

section.work-table {
width: 100%;
height: 300px;
position: relative;
}

section.work-table img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.card .card-stats ul li {
  color: #a25d8f;
  font-weight: 0em;
}

.frame {
  margin-top: 100px;
}

.navigation {
 opacity: .85;
}

#picture-canvas {
  background-color: black;
  position: absolute;
  align-items: center;
  display: flex;
  overflow: hidden;
}

#picture {
  margin: auto;
}


#hang-picture {
  visibility: hidden;
}

img.frame {
  position: absolute;
  top: 130px;
  left: 399px;
}

div.container {
  @include outer-container;
}

body {
  background-color: white;
  color: #a25d8f;
}

.nav-link {
  color: #a25d8f;
}

#slider {
  width: 720px;
  height: 480px;
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 728px;
  height: 400px;
}

body {
  color: #dc7700;
}









